.sgreport {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

iframe {
  position: fixed;
  background: #000;
  border: none;
  top: 0; right: 0;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

.sgfooter {
  padding: 20px;
  position: fixed;
  border-top: 1px solid #000;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

.loader {
  text-align: center;
  padding: 50px;
}

#sgdashboard {
  width: 100%;
  height: 100pv;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
