/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/stylesheet/fonts/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("/stylesheet/fonts/open-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/stylesheet/fonts/open-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/stylesheet/fonts/open-sans-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("/stylesheet/fonts/open-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/stylesheet/fonts/open-sans-v17-latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff;
  font-family: "Open Sans" !important;
}
body,
td,
th,
input,
select,
textarea,
option,
optgroup {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

input[type="text"],
input[type="password"] {
  padding: 2px;
}
select {
  padding: 1px;
}
textarea {
  padding: 2px;
}
a,
a:visited {
  /*color: #003366;*/
  text-decoration: underline;
  cursor: pointer;
}
a img {
  border: 0;
}
form {
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
#header .div1 {
  height: 56px;
  padding: 0px 30px;
  background: url("../image/header.png") repeat-x;
  min-width: 900px;
}
#header .div2 {
  color: #ffffff;
  padding: 8px 0px 0px 0px;
  float: left;
}
#header .div3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: right;
  padding: 15px 0px 0px 0px;
  float: right;
}
#header .div2 span {
  font-weight: bold;
}
#menu {
  background: url("../image/menu.png") repeat-x;
  position: relative;
  z-index: 1;
  height: 34px;
  clear: both;
  padding: 0px 30px;
  min-width: 900px;
}
#menu > ul.left {
  float: left;
}
#menu > ul.right {
  float: right;
}
#menu > ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#menu > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: url("../image/transparent.png");
}
#menu > ul a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}
#menu > ul > li + li {
  background: url("../image/split.png") center left no-repeat;
}
#menu > ul .top,
#menu > ul li li.sfhover {
  padding: 10px 15px 9px 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}
#menu > ul ul li {
  padding: 2px;
}
#menu > ul .selected .top {
  background: url("../image/selected.png") repeat-x;
  color: #ffffff;
}
#menu > ul .selected:hover a.top,
#menu > ul .sfhover a.top {
}
#menu > ul .parent {
  background: url("../image/arrow-right.png") 95% center no-repeat;
}
#menu > ul li {
  float: left;
  list-style: none;
}
#menu > ul li ul {
  position: absolute;
}
#menu > ul li li {
  clear: both;
}
#menu > ul li ul a {
  color: #ffffff;
  height: 15px;
  width: 145px;
}
#menu > ul li ul ul {
  margin: -27px 0 0 157px;
}
#menu > ul li li:hover,
#menu > ul li li.sfhover {
  background: #c55b27;
  color: #000000;
}
/*#container {
	height: 100%;
}
body > #container {
	height: auto;
	min-height: 100%;
}
#content {
	background: #FFFFFF url('../image/background.png') 0px 1px repeat-x;
	padding: 10px 30px 0px 30px;
	min-width: 900px;
	padding-bottom: 128px;
}
#footer {
	background: #FFFFFF url('../image/footer.png') repeat-x;
	height: 90px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	margin-top: -128px;
	clear: both;
}
#footer a {
	color: #333;
	text-decoration: underline;
}*/
/*.breadcrumb, .breadcrumb a {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}*/
.success {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  background: #eaf7d9 url("../image/success.png") 10px center no-repeat;
  border: 1px solid #bbdf8d;
  color: #555555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.warning {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  background: #ffd1d1 url("../image/warning.png") 10px center no-repeat;
  border: 1px solid #f8acac;
  color: #555555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.warning-limit-user {
  padding: 10px 10px 10px 33px;
  margin-bottom: 0px;
  background: #ffd1d1 url("../image/warning.png") 10px center no-repeat;
  border: 1px solid #f8acac;
  color: #555555;
}
.attention {
  padding: 10px 10px 10px 33px;
  margin-bottom: 15px;
  background: #fff5cc url("../image/attention.png") 10px center no-repeat;
  border: 1px solid #f2dd8c;
  color: #555555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.required {
  color: #ff0000;
  font-weight: bold;
}
.error {
  margin-top: 3px;
  color: #ff0000;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.help {
  color: #666;
  font-size: 11px;
  font-weight: normal;
  font-family: Verdana, Geneva, sans-serif;
  display: block;
}
.icon {
  vertical-align: middle;
  cursor: pointer;
}
.image {
  border: 1px solid #eeeeee;
  padding: 10px;
  display: inline-block;
}
.image img {
  margin-bottom: 5px;
}
.box {
  margin-bottom: 15px;
}
.box > .heading {
  height: 45px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid #dbdbdb;
  background: url("../image/box.png") repeat-x;
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -khtml-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}
.box > .heading h1 {
  margin: 0px;
  padding: 11px 0px 0px 0px;
  color: #003a88;
  font-size: 16px;
  float: left;
}
.box > .heading h1 img {
  float: left;
  margin-top: -1px;
  margin-left: 3px;
  margin-right: 8px;
}
.box > .heading .buttons {
  float: right;
  padding-top: 7px;
  margin-right: 5px;
}
.box > .heading .buttons .button {
  margin-left: 5px;
}
.box > .content h2 {
  text-transform: uppercase;
  color: #ff802b;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dotted #000000;
}
.box > .content {
  padding: 10px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  min-height: 300px;
  overflow: auto;
}
a.button,
.list a.button,
input.button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  background: #003a88;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -khtml-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.list {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  margin-bottom: 20px;
}
.list td {
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.list thead td {
  background-color: #efefef;
  padding: 0px 5px;
}
.list thead td a,
.list thead td {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
}
.list tbody td a {
  text-decoration: underline;
}
.list tbody td {
  vertical-align: middle;
  padding: 0px 5px;
  background: #ffffff;
}
.list .left {
  text-align: left;
  padding: 7px;
}
.list .right {
  text-align: right;
  padding: 7px;
}
.list .center {
  text-align: center !important;
  padding: 7px;
}
.list .asc {
  padding-right: 15px;
  background: url("../image/asc.png") right center no-repeat;
}
.list .desc {
  padding-right: 15px;
  background: url("../image/desc.png") right center no-repeat;
}
.list tr.filter td {
  padding: 5px;
  background: #e7efef;
  text-align: left;
}
.pagination-wrapper {
  padding: 0 6px;
}
.pagination {
  /*border-top: 1px solid #DDDDDD;*/
  display: inline-block;
  width: 100%;
  padding-top: 6px;
}
.pagination .links {
  float: left;
  padding-top: 6px;
}
.pagination .links a {
  border: 1px solid #dddddd;
  padding: 4px 10px;
  font-size: 12px;
  text-decoration: none;
  color: #a3a3a3;
}
.pagination .links b {
  border: 1px solid #269bc6;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  color: #269bc6;
  background: #ffffff;
}
.pagination .results {
  float: right;
  padding-top: 6px;
  font-size: 12px;
}
table.form {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.form > tbody > tr > td:first-child {
  width: 200px;
}
table.form > tbody > tr > td {
  padding: 10px;
  color: #000000;
  border-bottom: 1px dotted #cccccc;
}
.scrollbox {
  border: 1px solid #cccccc;
  width: 350px;
  height: 175px;
  background: #ffffff;
  overflow-y: scroll;
}
.scrollbox img {
  float: right;
  cursor: pointer;
}
.htabs {
  padding: 0px 0px 0px 10px;
  height: 30px;
  line-height: 16px;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
}
.htabs a {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  background: #ffffff url("../image/tab.png") repeat-x;
  padding: 7px 15px 6px 15px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin-right: 2px;
  display: none;
}
.htabs a.selected {
  padding-bottom: 7px;
  background: #ffffff;
}
.vtabs {
  width: 220px;
  padding: 10px 0px;
  min-height: 300px;
  float: left;
  display: block;
  border-right: 1px solid #dddddd;
}
.vtabs a {
  display: none;
}
.vtabs a,
.vtabs span {
  display: block;
  float: left;
  width: 190px;
  margin-bottom: 5px;
  clear: both;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  /*background: #F7F7F7;*/
  background: #ddd;
  padding: 6px 14px 7px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  color: #000000;
}
.vtabs a.selected {
  padding-right: 15px;
  background: #ffffff;
}
.vtabs a img,
.vtabs span img {
  position: relative;
  top: 3px;
  cursor: pointer;
}
.vtabs-content {
  margin-left: 222px;
}
.accordion-heading {
  background: #efefef;
  border: 1px solid #dddddd;
  padding: 8px;
  font-weight: bold;
  font-size: 13px;
  color: #555555;
  margin-bottom: 15px;
}
.accordion-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none;
}
.accordion-content {
  padding: 0px 0px 15px 0px;
  overflow: auto;
}
.scrollbox div {
  padding: 3px;
}
.scrollbox div input {
  margin: 0px;
  padding: 0px;
  margin-right: 3px;
}
.scrollbox div.even {
  background: #ffffff;
}
.scrollbox div.odd {
  background: #e4eef7;
}
.overview {
  float: left;
  width: 49%;
  margin-bottom: 20px;
}
.overview table {
  width: 100%;
}
.overview td + td {
  text-align: right;
}
.statistic {
  float: right;
  width: 49%;
  margin-bottom: 20px;
}
.range {
  float: right;
  color: #fff;
  vertical-align: middle;
}
.range {
  padding-top: 1px;
  padding-right: 1px;
}
.range,
.range select {
  font-size: 11px;
}
.latest {
  clear: both;
}
.latest tbody td {
  background: #fff;
}
.dashboard-heading {
  background: #547c96;
  color: #fff;
  border-bottom: 1px solid #8eaec3;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}
.dashboard-content {
  background: #fcfcfc;
  border: 1px solid #8eaec3;
  padding: 10px;
  min-height: 180px;
}
.refresh {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.radius-small {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ajax-loading {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  z-index: 10;
}

.ajax-loading .text-ajax-loading {
  background-color: #ddd;
  color: #000;
  font-weight: bold;
  margin: 0;
  padding: 5px 20px;
  border-radius: 0 0 5px 5px;
}

.goods-panel input,
.goods-panel span {
  margin: 10px 0;
}

.goods-panel input.orange {
  border-color: #f4a70c !important;
}
.goods-panel input.green {
  border-color: #b9e672 !important;
}
.goods-panel input.yellow {
  border-color: #109648 !important;
}
.goods-panel input.blue {
  border-color: #2fabe9 !important;
}

.badge_template > td:nth-child(3):after {
  font-style: italic;
  color: red;
  content: "   (Template)";
}
