/*!
 * Playbasis Registration Styles
 */
@import url(bootstrap.css);
@import url(font-awesome.css);
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Apply a natural box layout model to all elements
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pbf-field-group, .pbf-form, #pb-registration .row, #pb-registration .registration-page {
  *zoom: 1;
}
.pbf-field-group:before, .pbf-form:before, #pb-registration .row:before, #pb-registration .registration-page:before, .pbf-field-group:after, .pbf-form:after, #pb-registration .row:after, #pb-registration .registration-page:after {
  content: " ";
  display: table;
}
.pbf-field-group:after, .pbf-form:after, #pb-registration .row:after, #pb-registration .registration-page:after {
  clear: both;
}

/* ==========================================================================
   Forms
/* ========================================================================== */
.pbf-field-group {
  float: left;
  width: 100%;
  padding: 0 10px 10px;
  position: relative;
}

@media (min-width: 1000px) {
  .pbf-half {
    width: 50%;
  }
}

.pbf-checked {
  line-height: 40px;
}

.pbf-link-2-line {
  margin-top: -4px;
  font-size: 13px;
  line-height: 24px;
}
.pbf-link-2-line a {
  color: #fff;
  text-decoration: underline;
}

.pbf-form {
  padding: 10px;
  color: #fff;
  background: #6f7f90;
}
.pbf-form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.pbf-form hr {
  border: #cccccc solid 1px;
  border-width: 1px 0 0;
  margin: 10px 10px 20px;
}
.pbf-form legend {
  color: #fff;
  font-size: 1.25em;
  font-weight: 600;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
  padding: 0 10px 10px;
}
.pbf-form label {
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}
.pbf-form label span {
  color: #f26023;
}
.pbf-form label.error {
  position: absolute;
  right: 10px;
  bottom: 36px;
  padding: 5px 10px 17px;
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  background: #e66161;
  border-radius: 5px;
  z-index: 1;
  animation: moveError .3s ease-in;
}
.pbf-form select,
.pbf-form textarea,
.pbf-form input[type="text"],
.pbf-form input[type="password"],
.pbf-form input[type="datetime"],
.pbf-form input[type="datetime-local"],
.pbf-form input[type="date"],
.pbf-form input[type="month"],
.pbf-form input[type="time"],
.pbf-form input[type="week"],
.pbf-form input[type="number"],
.pbf-form input[type="email"],
.pbf-form input[type="url"],
.pbf-form input[type="search"],
.pbf-form input[type="tel"],
.pbf-form input[type="color"] {
  color: #333333;
  font-weight: 600;
  line-height: 18px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  border: transparent solid 5px;
  transition: all .5s ease-in-out;
  z-index: 2;
  position: relative;
}
.pbf-form select.error,
.pbf-form textarea.error,
.pbf-form input[type="text"].error,
.pbf-form input[type="password"].error,
.pbf-form input[type="datetime"].error,
.pbf-form input[type="datetime-local"].error,
.pbf-form input[type="date"].error,
.pbf-form input[type="month"].error,
.pbf-form input[type="time"].error,
.pbf-form input[type="week"].error,
.pbf-form input[type="number"].error,
.pbf-form input[type="email"].error,
.pbf-form input[type="url"].error,
.pbf-form input[type="search"].error,
.pbf-form input[type="tel"].error,
.pbf-form input[type="color"].error {
  border-color: #e66161;
}
.pbf-form select:focus,
.pbf-form textarea:focus,
.pbf-form input[type="text"]:focus,
.pbf-form input[type="password"]:focus,
.pbf-form input[type="datetime"]:focus,
.pbf-form input[type="datetime-local"]:focus,
.pbf-form input[type="date"]:focus,
.pbf-form input[type="month"]:focus,
.pbf-form input[type="time"]:focus,
.pbf-form input[type="week"]:focus,
.pbf-form input[type="number"]:focus,
.pbf-form input[type="email"]:focus,
.pbf-form input[type="url"]:focus,
.pbf-form input[type="search"]:focus,
.pbf-form input[type="tel"]:focus,
.pbf-form input[type="color"]:focus {
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  background-color: #e1f0f9;
}
.pbf-form select[disabled],
.pbf-form textarea[disabled],
.pbf-form input[type="text"][disabled],
.pbf-form input[type="password"][disabled],
.pbf-form input[type="datetime"][disabled],
.pbf-form input[type="datetime-local"][disabled],
.pbf-form input[type="date"][disabled],
.pbf-form input[type="month"][disabled],
.pbf-form input[type="time"][disabled],
.pbf-form input[type="week"][disabled],
.pbf-form input[type="number"][disabled],
.pbf-form input[type="email"][disabled],
.pbf-form input[type="url"][disabled],
.pbf-form input[type="search"][disabled],
.pbf-form input[type="tel"][disabled],
.pbf-form input[type="color"][disabled] {
  background-color: #cccccc;
  color: gray;
}
.pbf-form textarea {
  resize: none;
  height: 160px;
}
.pbf-form input[type="checkbox"],
.pbf-form input[type="radio"] {
  margin: 10px;
}
.pbf-form input[type="text"].success {
  border-color: #368e88 !important;
}
.pbf-form select {
  border: none;
  height: 40px;
  *margin-top: 4px;
  line-height: 50px;
}
.pbf-form ::-webkit-input-placeholder {
  color: #bdbdbf;
}
.pbf-form :-moz-placeholder {
  color: #bdbdbf;
}
.pbf-form ::-moz-placeholder {
  color: #bdbdbf;
}
.pbf-form :-ms-input-placeholder {
  color: #bdbdbf;
}
.pbf-form input[type="submit"] {
  font-weight: 600;
  line-height: normal;
  white-space: normal;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px #bf4c1b;
  box-shadow: 0 1px #bf4c1b;
  background: #f26023 linear-gradient(#f26023, #ed500e);
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.pbf-form input[type="submit"]:hover, .pbf-form input[type="submit"]:focus {
  outline: none;
  background: #ff5b16 linear-gradient(#ff5b16, #fe5b17);
}

@keyframes moveError {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: 36px;
  }
}
/* ==========================================================================
   Alerts
/* ========================================================================== */
.pb-alert {
  color: #fff;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  line-height: 20px;
  padding: 20px;
  margin: 0 0 20px;
}
.pb-alert a {
  color: #fff;
  text-decoration: none;
  border-bottom: #fff solid 1px;
  transition: border-color .3s ease-in-out;
}
.pb-alert:hover .pb-alert--close {
  opacity: 1;
}
.pb-alert:hover .pb-alert--close:hover {
  background-color: rgba(255, 240, 240, 0.2);
}

.pb-alert {
  background: #4099e6;
  text-shadow: 0 -1px 0 #1c80d7;
}
.pb-alert a:focus, .pb-alert a:hover {
  border-color: #1c80d7;
}

.pb-alert--error {
  background: #e66161;
  text-shadow: 0 -1px 0 #df3535;
}
.pb-alert--error a:focus, .pb-alert--error a:hover {
  border-color: #df3535;
}

.pb-alert--success {
  background: #44b3ab;
  text-shadow: 0 -1px 0 #368e88;
}
.pb-alert--success a:focus, .pb-alert--success a:hover {
  border-color: #368e88;
}

.pb-alert--close {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../../image/beforelogin/close.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.6;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

.pb-alert--add {
  animation: addAlert .8s ease forwards;
}

.pb-alert--remove {
  animation: removeAlert .8s ease forwards;
}

@keyframes addAlert {
  0% {
    opacity: 0;
    transform: scale(0);
    line-height: 0;
    padding: 0;
    margin: 0 0 0;
  }
  60% {
    opacity: 0;
    transform: scale(0);
    line-height: 20px;
    padding: 20px;
    margin: 0 0 20px;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    line-height: 20px;
    padding: 20px;
    margin: 0 0 20px;
  }
}
@keyframes removeAlert {
  0% {
    opacity: 1;
    transform: scale(1);
    line-height: 20px;
    padding: 20px;
    margin: 0 0 20px;
  }
  40% {
    opacity: 0;
    transform: scale(0);
    line-height: 20px;
    padding: 20px;
    margin: 0 0 20px;
  }
  100% {
    opacity: 0;
    transform: scale(0);
    line-height: 0;
    padding: 0;
    margin: 0 0 0;
  }
}
/* ==========================================================================
   Registration
/* ========================================================================== */
#pb-registration {
  padding: 0;
  color: #666666;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
@media (min-width: 480px) {
  #pb-registration {
    font-size: 15px;
  }
}
#pb-registration .row {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px;
  position: relative;
}
@media (min-width: 1000px) {
  #pb-registration .row {
    width: 960px;
    padding: 20px 0;
  }
}
#pb-registration a {
  color: #428bca;
  text-decoration: none;
}
#pb-registration a:hover,
#pb-registration a:focus {
  color: #2a6496;
  text-decoration: underline;
}
#pb-registration h1, #pb-registration h2, #pb-registration h3, #pb-registration h4, #pb-registration h5, #pb-registration h6 {
  font-weight: 600;
  font-family: inherit;
  text-rendering: optimizelegibility;
  margin: 0 0 6px;
}
#pb-registration .registration-form a {
  color: #fff;
}
#pb-registration .pbf-link-2-line {
  color: #b3b3b3;
}
#pb-registration .pbf-link-2-line a {
  text-decoration: underline;
  color: #fff;
}
#pb-registration .pbf-link-2-line label {
  color: #fff;
  font-size: 15px;
}
#pb-registration .pbf-link-2-line span {
  margin-left: 15px;
}
#pb-registration .pbr-header {
  padding: 0 0 160px;
  background: linear-gradient(90deg, #409FC2, #6DC7C1);
}
#pb-registration .pbr-header-logo {
  display: block;
  height: 60px;
  width: 200px;
  fill: #fff;
}
#pb-registration h1 {
  float: left;
  color: #fff;
  font-size: 1.875em;
  line-height: 1.4;
}
@media (min-width: 480px) {
  #pb-registration h1 {
    font-size: 2.4em;
  }
}
#pb-registration small {
  display: block;
  font-size: 0.375em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e2d5e8;
  text-shadow: 0 -1px #3a778e;
}
#pb-registration .plan {
  float: right;
  font-size: 0.875em;
  text-align: right;
  font-weight: 600;
  margin-left: 20px;
}
#pb-registration .plan-type {
  text-transform: uppercase;
  color: #d4efed;
  text-shadow: 0 -1px #3a778e;
  border-radius: 3px;
  padding: 0.8em 1.5em;
  background: #44b3ab;
}
#pb-registration .plan-price {
  color: #e2d5e8;
  text-shadow: 0 -1px #3a778e;
}
#pb-registration .pbr-main {
  margin-top: -160px;
}
#pb-registration .registration-page {
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background: #e6e6e6;
}
#pb-registration .registration-form,
#pb-registration .registration-benefits {
  width: 100%;
  float: left;
  z-index: 1;
  position: relative;
}
@media (min-width: 480px) {
  #pb-registration .registration-form {
    background: #6f7f90;
    padding: 10px 20px 0;
  }
}
@media (min-width: 768px) {
  #pb-registration .registration-form {
    width: 62.5%;
  }
  #pb-registration .registration-benefits {
    width: 37.5%;
  }
  #pb-registration .registration-form-bg {
    background: #556270;
    position: absolute;
    right: 37.5%;
    bottom: 0;
    left: 0;
    top: 0;
  }
}
#pb-registration .benefits-block {
  margin: 40px;
}
#pb-registration .benefits-block h4 {
  font-size: 1em;
  color: #86559c;
  margin: 0 0 0.2em;
}
#pb-registration .benefits-block p {
  font-size: 0.8em;
  margin: 0 0 1em;
}
#pb-registration .registration-policy {
  padding-top: 1em;
  font-size: 0.8em;
  color: #b5b9bd;
}
#pb-registration .somethingwrong-benefits .benefits-block h4 {
  color: #fff;
  font-size: 1.8em;
}
#pb-registration .somethingwrong-benefits .benefits-block p {
  color: #fff;
  font-size: 0.8em;
}
#pb-registration .pbr-footer {
  font-size: 0.8em;
  line-height: 42px;
  color: #b5b9bd;
}
#pb-registration .pbr-footer-logo {
  float: left;
  width: 140px;
  height: 42px;
  display: block;
  fill: #b5b9bd;
}
#pb-registration .pbr-footer-copyright {
  text-align: right;
  float: right;
  line-height: 17px;
}

.message-success {
  color: #fff;
  margin-top: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 90px;
  text-align: center;
  font-size: 22px;
  display: none;
}

.activated-wrapper {
  background: url(../../image/beforelogin/activated-bg.jpg) no-repeat left top;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 800px;
  padding-top: 100px;
}
.activated-wrapper .modal-card {
  margin-left: auto;
  margin-right: auto;
}

.intl-tel-input .flag-dropdown {
  z-index: 100;
  text-align: left;
}

.intl-tel-input .country-list {
  width: 400px;
}

.account-verify-wrapper .modal-card-head > img {
  margin-top: 10px;
}
.account-verify-wrapper .form input.form-control {
  height: 35px;
  width: auto;
  display: inline;
  border-radius: 0;
}
.account-verify-wrapper .form .input-group {
  margin-left: auto;
  margin-right: auto;
}
.account-verify-wrapper .form .input-group button {
  background: #f05a1b;
  border-radius: 0;
  border: none;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  vertical-align: top;
}
.account-verify-wrapper .form input.code-input {
  width: 120px;
}
.account-verify-wrapper .form .error {
  color: #f05a1b;
  font-size: 12px;
}

#pb-registration .modal-card-content small {
  text-shadow: none;
  font-size: 12px;
  text-transform: inherit;
  line-height: 1.4;
  color: #999;
  letter-spacing: inherit;
  padding: 10px 20px 0;
}

/* ==========================================================================
   Modal Card
/* ========================================================================== */
.modal-card {
  background: #FFF;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  min-height: 400px;
  overflow: hidden;
}

.modal-card-head {
  background: #86559c;
  color: #fff;
  text-align: center;
  padding: 30px;
  height: 205px;
}
.modal-card-head h3 {
  font-weight: 300 !important;
}
.modal-card-head .big-icon {
  font-size: 180px;
}

.modal-card-content {
  text-align: center;
  padding: 30px;
}
.modal-card-content h3 {
  font-weight: 300 !important;
}
.modal-card-content strong {
  color: #86559c;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .modal-card-head h3 {
    font-size: 16px;
  }

  .modal-card-content h3 {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
