/*
* Author: Łukasz Holeczek
* Template: Perfectum Dashboard Bootstrap Theme
* Version: 1.0.2
* Bootstrap version: 2.2.1
* Copyright 2012 creativeLabs
* www: http://clabs.co
* mail: lukasz@clabs.co
* You can buy this theme on WrapBootstrap: https://wrapbootstrap.com/theme/perfectum-dashboard-admin-template-WB0PHMG9K
*/

/* Import Section
=================================================================== */
@import url("jquery-ui-1.8.21.custom.css"); /* jQuery User Interface Framework Styles */
@import url("fullcalendar.css"); /* Calendars Styles */
@import url("chosen.css"); /* Select Boxes Styles */
@import url("uniform.default.css"); /* Uniform Styles */
@import url("jquery.cleditor.css"); /* Text Editor Styles. */
@import url("jquery.noty.css"); /* Noty Notifications Style */
@import url("noty_theme_default.css"); /* Noty Notifications Style */
@import url("elfinder.min.css"); /* File Manager Style */
@import url("elfinder.theme.css"); /* File Manager Style */
@import url("jquery.iphone.toggle.css"); /* Styles for iPhone */
@import url("uploadify.css"); /* Uploadify Styles */
@import url("jquery.gritter.css"); /* Growl Like Notifications Styles */
@import url("font-awesome.css"); /* Font Awesome Styles */
@import url("font-awesome-ie7.css"); /* Font Awesome Styles */

/* Basic
=================================================================== */
body {
  background: url(../../image/custom/bg.jpg) repeat-y top right,
    url(../../image/custom/dbg.jpg) repeat top left;
  color: #646464;
  border: none;
}

#overlay {
  background: #080808;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#overlay ul {
  padding: 0;
  margin: 300px auto 0;
  list-style: none;
  text-align: center;
  display: block;
}

#overlay ul li {
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  -ms-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -moz-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -o-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -ms-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
}

#overlay ul li.li6 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#overlay ul li.li5 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#overlay ul li.li4 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#overlay ul li.li3 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
#overlay ul li.li2 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
#overlay ul li.li1 {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes loading {
  0% {
    -moz-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -moz-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes loading {
  0% {
    -o-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -o-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes loading {
  0% {
    -ms-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -ms-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    -ms-transform: translateX(-30px);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    -ms-transform: translateX(30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

a {
  color: #646464;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #e0dfdf;
  border-bottom: 1px solid #fefefe;
}

h1 {
  font-size: 18px;
  line-height: 18px;
}

h2 {
  font-size: 16px;
  line-height: 16px;
}

h3 {
  font-size: 15px;
  line-height: 15px;
}

h4 {
  font-size: 14px;
  line-height: 14px;
}

h5 {
  font-size: 13px;
  line-height: 13px;
}

h6 {
  font-size: 12px;
  line-height: 12px;
}

.green {
  color: #78cd51;
}

.red {
  color: #ff0000;
}

.blue {
  color: #67c2ef;
}

.yellow {
  color: #fabb3d;
}

.pink {
  color: #e42b75;
}

.orange {
  color: #fa5133;
}

.well {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.breadcrumb {
  margin: -20px 0px;
  border: 0px;
  color: #aaa;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.breadcrumb span {
  text-shadow: 1px 1px 0px #fff;
}

.breadcrumb a {
  color: #aaa;
  text-shadow: 0px 1px 1px #fff;
}

.breadcrumb a:hover {
  color: #646464;
  text-shadow: 0px 1px 1px #fff;
  text-decoration: none;
}

.box-small {
  text-align: center;
  position: relative;
  display: block;
  margin: 20px;
}

.box-small-link {
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 30px 0px;
  font-size: 26px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fafafa),
    to(#efefef)
  );
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  color: #646464;
  text-shadow: 0px 1px 1px #fff;
}

.box-small-link:hover {
  border: 1px solid #3c4049;
  margin-bottom: -1px;
  padding: 30px 0px;
  color: #fff;
  background-color: #4e525d;
  background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#4e525d),
    to(#3c4049)
  );
  background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  background-image: linear-gradient(to bottom, #4e525d, #3c4049);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
  text-shadow: 0px 1px 1px #000;
  text-decoration: none;
}

.box-small-title {
  width: 100%;
  margin: 10px auto;
  font-size: 15px;
  color: #aaa;
  text-shadow: 0px 1px 1px #fff;
}

.box {
  margin: 20px 0px;
}

.box-header {
  height: 20px;
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 10px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fafafa),
    to(#efefef)
  );
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px;
  overflow: hidden;
}

.box-header h2 {
  font-size: 16px;
  line-height: 16px;
  float: left;
  margin-top: 2px;
  color: #646464;
  font-weight: normal;
  text-shadow: 0px 1px 0px #fff;
}

.box-header h2 i {
  margin: 1px 3px 0px 5px;
  opacity: 0.4;
}

.box-header .break {
  border-left: 1px solid #fcfcfc;
  border-right: 1px solid #ddd;
  margin: -12px 10px -10px 10px;
  padding: 12px 0px 10px 0px;
}

.box-header .box-icon {
  float: right;
  margin-top: 1px;
}

.box-header .box-icon i {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0.4;
}

.box-header .box-icon i:hover {
  opacity: 0.8;
}

.box-header .box-icon a {
  margin: 0px 5px;
}

.box-content {
  margin-top: -1px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fcfcfc;
  -webkit-border-radius: 0px 0px 2px 2px;
  -moz-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px;
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
}

/* Header Section
=================================================================== */

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background: url(../../image/custom/dbg.jpg);
  border-left: 0px solid #0a0c0e;
  border-right: 0px solid #0a0c0e;
  border-top: 1px solid #0a0c0e;
  border-bottom: 2px solid #0a0c0e;
  filter: none;
  text-shadow: 1px 1px 1px #0a0c0e;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.navbar-inner a {
  color: #646464;
}

.navbar-inner a i {
  opacity: 0.8;
}

.navbar-inner a:hover i {
  opacity: 1;
}

.brand img {
  margin: -12px 0px -5px 0px;
}

a.brand span {
  color: #fff;
  text-shadow: 1px 1px 2px #0a0c0e;
}

.header-nav {
  border-right: 1px solid #0a0c0e;
  border-left: 1px solid #212121;
  padding: 0px;
  color: #fff !important;
}

.header-nav .nav {
  margin: 0px;
}
.header-nav .btn {
  display: inline-block;
  padding: 11px 20px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border-left: 1px solid #0a0c0e;
  border-right: 1px solid #212121;
  border-top: 0px solid #bbbbbb;
  border-bottom: 0px solid #bbbbbb;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-nav .btn i {
  text-shadow: 0px 1px 1px #0a0c0e !important;
}

.header-nav .btn .caret {
  border-top-color: #ddd !important;
  border-bottom-color: #ddd !important;
}

.header-nav .btn:hover .caret {
  border-top-color: #fff !important;
  border-bottom-color: #fff !important;
}

#under-header {
  margin: -20px 0px 20px 0px;
  border-top: px solid #fcfcfc;
}

/* Navigation Section
=================================================================== */

.nav-tabs.nav-stacked > li > a {
  margin: 2px;
  color: #646464;
  border: 1px solid #ddd;
  background: transparent;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fafafa),
    to(#efefef)
  );
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.nav-tabs.nav-stacked > li > a > i {
  opacity: 0.6;
  margin-top: 1px;
  margin-right: 5px;
}

.nav-tabs.nav-stacked > li.active > a {
  margin: 2px;
  border: 1px solid #3c4049;
  color: #fff;
  background: #0a0c0e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.nav-tabs.nav-stacked > li.active > a > i {
  opacity: 1;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
  margin: 2px;
  border: 1px solid #3c4049;
  color: #fff;
  background-color: #4e525d;
  background-image: -moz-linear-gradient(top, #4e525d, #3c4049);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#4e525d),
    to(#3c4049)
  );
  background-image: -webkit-linear-gradient(top, #4e525d, #3c4049);
  background-image: -o-linear-gradient(top, #4e525d, #3c4049);
  background-image: linear-gradient(to bottom, #4e525d, #3c4049);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4e525d', endColorstr='#3c4049', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #555555;
  background-color: #000;
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  max-width: 300px;
  padding: 0px 0;
  margin: 2px 0 0;
  list-style: none;
  text-shadow: none;
  background-color: #fcfcfc;
  border: 4px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clipp: padding;
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 0px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px !important;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: normal !important;
}

.dropdown-menu li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f6f6f6;
}

.dropdown-menu li:first-child {
  border-top: 0px !important;
}

.dropdown-menu li:last-child {
  border-bottom: 0px !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#0088cc),
    to(#0077b3)
  );
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#0088cc),
    to(#0077b3)
  );
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0 !important;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.dropdown-menu-title {
  background: #f6f6f6;
  color: #646464;
  padding: 5px 10px;
  display: block;
}

.dropdown-menu ul,
.dropdown-menu ul li {
  padding: 0px !important;
  margin: 0px !important;
}

ul.notifications li,
ul.tasks li,
ul.messages li {
  width: 260px;
}

ul.notifications li .avatar img,
ul.tasks li .avatar img,
ul.messages li .avatar img {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

ul.messages li .header {
  display: block;
}

ul.messages li .header .from {
  font-size: 12px;
  font-weight: bold;
}

ul.notifications li .time,
ul.tasks li .header .percent,
ul.messages li .header .time {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  right: 5px;
}
ul.tasks li .title,
ul.notifications li .message {
  font-size: 12px;
}

ul.notifications li.warning a {
  color: #fa5833;
}

ul.messages li .message {
  font-size: 11px;
}

/* Notifications & Labels
=================================================================== */

.notification {
  position: absolute;
  top: -12px;
  right: -12px;
  line-height: 16px;
  height: 16px;
  padding: 6px 10px;
  color: white !important;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08),
    inset 0 1px hsla(0, 100%, 100%, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
    inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08),
    inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification-small {
  padding: 2px 7px;
  color: white !important;
  text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08),
    inset 0 1px hsla(0, 100%, 100%, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
    inset 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08),
    inset 0 1px hsla(0, 100%, 100%, 0.3);
}

.notification-small,
.notification {
  border-color: #2fabe9;
  background-color: #67c2ef;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(200, 80%, 82%)),
    color-stop(100%, hsl(200, 81%, 67%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
}

.notification-small.green,
.notification.green {
  border-color: #5aad34;
  background-color: #78cd51;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(101, 54%, 71%)),
    color-stop(100%, hsl(101, 55%, 56%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
}

.notification-small.yellow,
.notification.yellow {
  border-color: ;
  background-color: #fabb3d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(40, 95%, 76%)),
    color-stop(100%, hsl(40, 95%, 61%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.notification-small.red,
.notification.red {
  border-color: #fa5833;
  background-color: #fa603d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(11, 95%, 76%)),
    color-stop(100%, hsl(11, 95%, 61%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.label-important,
.badge-important {
  border-color: #fa5833;
  background-color: #fa603d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(11, 95%, 76%)),
    color-stop(100%, hsl(11, 95%, 61%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.label-important[href],
.badge-important[href] {
  border-color: #fa5833;
  background-color: #fa603d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(11, 95%, 76%)),
    color-stop(100%, hsl(11, 95%, 61%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(11, 95%, 76%),
    hsl(11, 95%, 61%)
  );
  background-image: linear-gradient(top, hsl(11, 95%, 76%), hsl(11, 95%, 61%));
}

.label-warning,
.badge-warning {
  border-color: #f4a506;
  background-color: #fabb3d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(40, 95%, 76%)),
    color-stop(100%, hsl(40, 95%, 61%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.label-warning[href],
.badge-warning[href] {
  border-color: #f4a506;
  background-color: #fabb3d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(40, 95%, 76%)),
    color-stop(100%, hsl(40, 95%, 61%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(40, 95%, 76%),
    hsl(40, 95%, 61%)
  );
  background-image: linear-gradient(top, hsl(40, 95%, 76%), hsl(40, 95%, 61%));
}

.label-success,
.badge-success {
  border-color: #5aad34;
  background-color: #78cd51;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(101, 54%, 71%)),
    color-stop(100%, hsl(101, 55%, 56%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
}

.label-success[href],
.badge-success[href] {
  border-color: #5aad34;
  background-color: #78cd51;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(101, 54%, 71%)),
    color-stop(100%, hsl(101, 55%, 56%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
  background-image: linear-gradient(
    top,
    hsl(101, 54%, 71%),
    hsl(101, 55%, 56%)
  );
}

.label-info,
.badge-info {
  border-color: #2fabe9;
  background-color: #67c2ef;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(200, 80%, 82%)),
    color-stop(100%, hsl(200, 81%, 67%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
}

.label-info[href],
.badge-info[href] {
  border-color: #2fabe9;
  background-color: #67c2ef;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, hsl(200, 80%, 82%)),
    color-stop(100%, hsl(200, 81%, 67%))
  );
  background-image: -webkit-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -moz-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -ms-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: -o-linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
  background-image: linear-gradient(
    top,
    hsl(200, 80%, 82%),
    hsl(200, 81%, 67%)
  );
}

/* Quick Buttons
=================================================================== */

.quick-button {
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 30px 0px 10px 0px;
  font-size: 14px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fafafa),
    to(#efefef)
  );
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  color: #646464;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.quick-button:hover {
  text-decoration: none;
  border-color: #a5a5a5;
  color: #444444;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.quick-button:hover .notification {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.quick-button i {
  font-size: 32px;
}

/* Quick Buttons Small
=================================================================== */

.quick-button-small {
  border: 1px solid #ddd;
  padding: 15px 0px 0px 0px;
  font-size: 10px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fafafa),
    to(#efefef)
  );
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  color: #646464;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.quick-button-small:hover {
  text-decoration: none;
  border-color: #a5a5a5;
  color: #444444;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.quick-button-small:hover .notification {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.quick-button-small i {
  font-size: 20px;
}

/* Dashboard Lists
=================================================================== */

ul.dashboard-list li {
  padding: 5px 0;
  list-style: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
}

ul.dashboard-list li i {
  opacity: 0.7;
}

ul.dashboard-list li:first-child {
  border-top: none;
  border-bottom: 1px solid #ebebeb;
}

ul.dashboard-list li:last-child {
  border-bottom: none;
}

ul.dashboard-list a:hover {
  text-decoration: none;
}

ul.dashboard-list {
  margin: 0;
}

ul.dashboard-list li a span {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  width: 50px;
  zoom: 1;
}

ul.dashboard-list li .avatar {
  height: 50px;
  width: 50px;
  padding: 1px;
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  border: 1px solid #ebebeb;
}

ul.dashboard-list li .avatar img {
  height: 40px;
  width: 40px;
  padding: 1px;
  float: left;
  margin-top: 3px;
  margin-right: 15px;
  border: 1px solid #ebebeb;
}

/* Support tickets
=================================================================== */

ul.tickets {
  margin: 0;
}

ul.tickets li {
  list-style: none;
  padding: 5px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
}

ul.tickets li:first-child {
  border-top: none;
  border-bottom: 1px solid #ebebeb;
}

ul.tickets li:last-child {
  border-bottom: none;
}

ul.tickets li.ticket .header {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
}

ul.tickets li.ticket .header .title {
  float: left;
  text-align: left;
}

ul.tickets li.ticket .header .number {
  float: right;
  text-align: right;
}

ul.tickets li.ticket .avatar img {
  height: 36px;
  width: 36px;
  padding: 1px;
  float: left;
  margin-top: 1px;
  margin-right: 10px;
  border: 1px solid #ebebeb;
}

ul.tickets li.ticket .content {
  display: inline-block;
  width: 100%;
}

ul.tickets li.ticket .content .name,
ul.tickets li.ticket .content .status {
  float: left;
  text-align: left;
  width: 50%;
}

ul.tickets li.ticket .content .priority,
ul.tickets li.ticket .content .date {
  float: right;
  text-align: right;
}

/* Chat
=================================================================== */

ul.chat {
  margin: 0;
}

ul.chat li {
  list-style: none;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 12px;
}

ul.chat li img.avatar {
  height: 50px;
  width: 50px;
  padding: 1px;
  border: 1px solid #ebebeb;
}

ul.chat li.left img.avatar {
  float: left;
  margin-right: 10px;
}

ul.chat li.right img.avatar {
  float: right;
  margin-left: 10px;
}

ul.chat li .message {
  display: block;
  border: 1px solid #ddd;
  padding: 5px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05),
    inset 0 -1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05),
    inset 0 -1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05),
    inset 0 -1px 1px rgba(0, 0, 0, 0.05);
}

ul.chat li.left .message {
  text-align: left;
  margin-left: 65px;
  background: #fff;
}

ul.chat li.left .message .arrow {
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  background: url(../../image/custom/chat-left.png) no-repeat 0px 0px;
}

ul.chat li.right .message .arrow {
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: 5px;
  right: -10px;
  background: url(../../image/custom/chat-right.png) no-repeat 0px 0px;
}

ul.chat li.right .message {
  text-align: right;
  margin-right: 65px;
  background: #f6f6f6;
}

ul.chat li .message .text {
  display: block;
}

.chat-form {
  border-top: 1px solid #ddd;
  background: #eee;
  padding: 10px;
  margin: 20px -10px -10px -10px;
}

.chat-form textarea {
  width: 100%;
  padding: 0.5em;
  -webkit-box-sizing: border-box; /* Safari, Chrome et al  */
  -moz-box-sizing: border-box; /* Firefox */
  box-sizing: border-box; /* Opera/IE 8+ */
  height: 80px;
  outline: 0px !important;
  font-size: 12px;
}

/* Forms
=================================================================== */

.form-actions {
  padding: 19px 20px 20px;
  margin: 20px -10px -30px -10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-actions:after {
  clear: both;
}

/* Buttons
=================================================================== */

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #67c2ef, #2fabe9);
  background-image: -ms-linear-gradient(top, #67c2ef, #2fabe9);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#67c2ef),
    to(#2fabe9)
  );
  background-image: -webkit-linear-gradient(top, #67c2ef, #2fabe9);
  background-image: -o-linear-gradient(top, #67c2ef, #2fabe9);
  background-image: linear-gradient(top, #67c2ef, #2fabe9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'67c2ef, endColorstr='#'2FABE9, GradientType=0);
  border-color: #1598d9 #1598d9 #007bb8 #1598d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #2fabe9;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #2fabe9 \9;
}

.btn-warning {
  background-color: #faa732;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fabb3d, #f4a506);
  background-image: -ms-linear-gradient(top, #fabb3d, #f4a506);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fabb3d),
    to(#f4a506)
  );
  background-image: -webkit-linear-gradient(top, #fabb3d, #f4a506);
  background-image: -o-linear-gradient(top, #fabb3d, #f4a506);
  background-image: linear-gradient(top, #fabb3d, #f4a506);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fabb3d, endColorstr='#'F4A506, GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f4a506;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #f4a506 \9;
}

.btn-danger {
  background-color: #da4f49;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fa603d, #f1360a);
  background-image: -ms-linear-gradient(top, #fa603d, #f1360a);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#fa603d),
    to(#f1360a)
  );
  background-image: -webkit-linear-gradient(top, #fa603d, #f1360a);
  background-image: -o-linear-gradient(top, #fa603d, #f1360a);
  background-image: linear-gradient(top, #fa603d, #f1360a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fa603d, endColorstr='#'f1360a, GradientType=0);
  border-color: #f1360a #f1360a #f1360a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #f1360a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #f1360a \9;
}

.btn-success {
  background-color: #5bb75b;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #78cd51, #5aad34);
  background-image: -ms-linear-gradient(top, #78cd51, #5aad34);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#78cd51),
    to(#5aad34)
  );
  background-image: -webkit-linear-gradient(top, #78cd51, #5aad34);
  background-image: -o-linear-gradient(top, #78cd51, #5aad34);
  background-image: linear-gradient(top, #78cd51, #5aad34);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'78cd51, endColorstr='#'5AAD34, GradientType=0);
  border-color: #5aad34 #5aad34 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #5aad34;
}

.btn-success:active,
.btn-success.active {
  background-color: #5aad34 \9;
}

.btn-info {
  background-color: #49afcd;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#5bc0de),
    to(#2f96b4)
  );
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'2f96b4, GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  background-color: #363636;
  *background-color: #222222;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#444444),
    to(#222222)
  );
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

/* Alert Boxes
=================================================================== */
.alert {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  position: relative;
  padding: 14px 40px 14px 18px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
}

.alert.alert-success {
  background-color: #edf6e5 !important;
  color: #7a9659 !important;
  border: 1px solid #9fc76f !important;
}

.alert.alert-error {
  background-color: #fdeaea !important;
  color: #ca6f74 !important;
  border: 1px solid #f27b81 !important;
}

.alert {
  background-color: #fffee1 !important;
  color: #daac50 !important;
  border: 1px solid #f5c056 !important;
}

.alert.alert-info {
  background-color: #e9f8ff !important;
  color: #5d9fa9 !important;
  border: 1px solid #75c7d3 !important;
}

/* Tabs
=================================================================== */

.tab-menu.nav-tabs {
  *zoom: 1;
  margin-top: -42px;
}

.tab-menu.nav-tabs > li {
  float: right;
}

.tab-menu.nav-tabs {
  border-bottom: none;
}

.tab-menu.nav-tabs > li {
  margin-bottom: -1px;
}

.tab-menu.nav-tabs > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin-left: -3px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.tab-menu.nav-tabs > li > a:hover {
  border-color: #ddd;
}

.tab-menu.nav-tabs > .active > a {
  color: #555555;
  cursor: default;
  background-color: #fcfcfc;
  border-left: 1px solid #ddd;
}

.tab-menu.nav-tabs > .active > a:hover {
  background-color: #fafafa;
}

/* Forms
=================================================================== */

.add-on,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
.uneditable-input {
  border-color: #dddddd !important;
}

/* Masonry Gallery
=================================================================== */

.masonry-thumb {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 6px;
}

/* Login Box
=================================================================== */

.login-box {
  width: 400px;
  margin: 100px auto;
  background: rgb(245, 245, 245); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 1) 77%,
    rgba(245, 245, 245, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(245, 245, 245, 1)),
    color-stop(19%, rgba(255, 255, 255, 1)),
    color-stop(77%, rgba(255, 255, 255, 1)),
    color-stop(100%, rgba(245, 245, 245, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 1) 77%,
    rgba(245, 245, 245, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 1) 77%,
    rgba(245, 245, 245, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 1) 77%,
    rgba(245, 245, 245, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 19%,
    rgba(255, 255, 255, 1) 77%,
    rgba(245, 245, 245, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */
  color: #000;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.login-box .icons {
  text-align: right;
  margin: 20px 15px;
}

.login-box .icons i {
  text-align: right;
  opacity: 0.2;
  margin: 0px 5px;
}

.login-box .icons i:hover {
  opacity: 0.8;
}

.login-box h2 {
  color: #646464;
  margin-left: 30px;
  font-family: monaco;
  font-weight: normal;
}

.login-box h3 {
  color: #646464;
  margin-left: 30px;
  font-family: monaco;
  font-weight: normal;
}

.login-box p {
  margin: 10px 30px;
  font-weight: normal;
}

.login-box .input-prepend {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  border-left: 3px solid #fff;
}

.login-box .input-prepend-focus {
  background: #fcfcfc;
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  border-left: 3px solid #646464;
}

.login-box .add-on {
  border: 1px solid #eee !important;
  background: #fff;
  margin-left: -10px;
  padding: 10px;
}

.login-box .add-on i {
  opacity: 0.1;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: 1px solid #eee !important;
  color: #aaa;
  border-left: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 42px !important;
}

.login-box .remember {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.login-box .button-login {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

/* UI - Uniform
=================================================================== */

div.checker {
  margin-top: -4px !important;
}

div.radio {
  margin-top: -4px !important;
}

div.uploader {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

/* UI - Sliders & Progress
=================================================================== */

.ui-slider-handle {
  display: inline-block;
  background: #fcfcfc; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fcfcfc),
    color-stop(100%, #f7f7f7)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #fcfcfc 0%,
    #f7f7f7 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #fcfcfc 0%,
    #f7f7f7 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%, #f7f7f7 100%); /* W3C */
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  height: 16px;
  width: 16px;
  -webkit-box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
  box-shadow: 0 1px 0 #ffffff, 0 1px 0 #ffffff inset;
  margin-right: 12px;
  outline: none;
}

.slider {
  border: 1px solid #c9c9c9;
  height: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  position: relative;
  margin: 8px 0;
  background: #fcfcfc; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fcfcfc),
    color-stop(100%, #f2f2f2)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #fcfcfc 0%,
    #f2f2f2 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #fcfcfc 0%,
    #f2f2f2 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%); /* W3C */
}

.ui-slider-range {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-box-shadow: 0 1px 0 #ffffff !important;
  -moz-box-shadow: 0 1px 0 #ffffff !important;
  box-shadow: 0 1px 0 #ffffff !important;
}

.sliderVertical .ui-slider-range {
  width: 100%;
  top: auto;
  bottom: auto;
}

.ui-slider-range-max {
  right: -1px;
}

.ui-slider-range-min {
  left: -1px;
}

.sliderVertical .ui-slider-range-max {
  top: -px;
}

.sliderVertical .ui-slider-range-min {
  bottom: 0;
}

.sliderBlue .ui-slider-range,
.progressBlue .ui-progressbar-value {
  background: rgb(103, 194, 239); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YzJlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZmFiZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(103, 194, 239, 1) 0%,
    rgba(47, 171, 233, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(103, 194, 239, 1)),
    color-stop(100%, rgba(47, 171, 233, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(103, 194, 239, 1) 0%,
    rgba(47, 171, 233, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(103, 194, 239, 1) 0%,
    rgba(47, 171, 233, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(103, 194, 239, 1) 0%,
    rgba(47, 171, 233, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(103, 194, 239, 1) 0%,
    rgba(47, 171, 233, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c2ef', endColorstr='#2fabe9',GradientType=0 ); /* IE6-8 */
  border: 1px solid #0098e4;
}

.sliderGreen .ui-slider-range,
.progressGreen .ui-progressbar-value {
  background: rgb(189, 234, 116); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkZWE3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmUzNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(189, 234, 116, 1) 0%,
    rgba(182, 227, 112, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(189, 234, 116, 1)),
    color-stop(100%, rgba(182, 227, 112, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(189, 234, 116, 1) 0%,
    rgba(182, 227, 112, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(189, 234, 116, 1) 0%,
    rgba(182, 227, 112, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(189, 234, 116, 1) 0%,
    rgba(182, 227, 112, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(189, 234, 116, 1) 0%,
    rgba(182, 227, 112, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdea74', endColorstr='#b6e370',GradientType=0 ); /* IE6-8 */
  border: 1px solid #96bb5c;
}

.sliderDarkGreen .ui-slider-range,
.progressDarkGreen .ui-progressbar-value {
  background: rgb(120, 205, 81); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4Y2Q1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YWFkMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(120, 205, 81, 1) 0%,
    rgba(90, 173, 52, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(120, 205, 81, 1)),
    color-stop(100%, rgba(90, 173, 52, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(120, 205, 81, 1) 0%,
    rgba(90, 173, 52, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(120, 205, 81, 1) 0%,
    rgba(90, 173, 52, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(120, 205, 81, 1) 0%,
    rgba(90, 173, 52, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(120, 205, 81, 1) 0%,
    rgba(90, 173, 52, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78cd51', endColorstr='#5aad34',GradientType=0 ); /* IE6-8 */
  border: 1px solid #3f8b1c;
}

.sliderPink .ui-slider-range,
.progressPink .ui-progressbar-value {
  background: rgb(232, 76, 138); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NGM4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjE2NjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(232, 76, 138, 1) 0%,
    rgba(226, 22, 104, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(232, 76, 138, 1)),
    color-stop(100%, rgba(226, 22, 104, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(232, 76, 138, 1) 0%,
    rgba(226, 22, 104, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(232, 76, 138, 1) 0%,
    rgba(226, 22, 104, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(232, 76, 138, 1) 0%,
    rgba(226, 22, 104, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(232, 76, 138, 1) 0%,
    rgba(226, 22, 104, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84c8a', endColorstr='#e21668',GradientType=0 ); /* IE6-8 */
  border: 1px solid #9e0c47;
}

.sliderOrange .ui-slider-range,
.progressOrange .ui-progressbar-value {
  background: rgb(250, 96, 61); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhNjAzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYTU4MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(250, 96, 61, 1) 0%,
    rgba(250, 88, 51, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(250, 96, 61, 1)),
    color-stop(100%, rgba(250, 88, 51, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(250, 96, 61, 1) 0%,
    rgba(250, 88, 51, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(250, 96, 61, 1) 0%,
    rgba(250, 88, 51, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(250, 96, 61, 1) 0%,
    rgba(250, 88, 51, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(250, 96, 61, 1) 0%,
    rgba(250, 88, 51, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa603d', endColorstr='#fa5833',GradientType=0 ); /* IE6-8 */
  border: 1px solid #c13a1a;
}

.sliderLightOrange .ui-slider-range,
.progressLightOrange .ui-progressbar-value {
  background: rgb(250, 187, 61); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYmIzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGE1MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(250, 187, 61, 1) 0%,
    rgba(244, 165, 6, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(250, 187, 61, 1)),
    color-stop(100%, rgba(244, 165, 6, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(250, 187, 61, 1) 0%,
    rgba(244, 165, 6, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(250, 187, 61, 1) 0%,
    rgba(244, 165, 6, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(250, 187, 61, 1) 0%,
    rgba(244, 165, 6, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(250, 187, 61, 1) 0%,
    rgba(244, 165, 6, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fabb3d', endColorstr='#f4a506',GradientType=0 ); /* IE6-8 */
  border: 1px solid #d79103;
}

.sliderRed .ui-slider-range,
.progressRed .ui-progressbar-value {
  background: rgb(255, 84, 84); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(255, 84, 84, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 84, 84, 1)),
    color-stop(100%, rgba(255, 0, 0, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 84, 84, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 84, 84, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 84, 84, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(255, 84, 84, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5454', endColorstr='#ff0000',GradientType=0 ); /* IE6-8 */
  border: 1px solid #be0000;
}

.sliderYellow .ui-slider-range,
.progressYellow .ui-progressbar-value {
  background: rgb(234, 232, 116); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZTg3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UyNzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(
    top,
    rgba(234, 232, 116, 1) 0%,
    rgba(227, 226, 112, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(234, 232, 116, 1)),
    color-stop(100%, rgba(227, 226, 112, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(234, 232, 116, 1) 0%,
    rgba(227, 226, 112, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(234, 232, 116, 1) 0%,
    rgba(227, 226, 112, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(234, 232, 116, 1) 0%,
    rgba(227, 226, 112, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(234, 232, 116, 1) 0%,
    rgba(227, 226, 112, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eae874', endColorstr='#e3e270',GradientType=0 ); /* IE6-8 */
  border: 1px solid #bbb95c;
}

.ui-slider-handle {
  position: absolute !important;
  background: url("../../image/custom/i_16_radio.png") no-repeat center center
    scroll #f7f7f7 !important;
  background: url("../../image/custom/i_16_radio.png") no-repeat center center
      scroll,
    -webkit-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%) !important;
  background: url("../../image/custom/i_16_radio.png") no-repeat center center
      scroll,
    -moz-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%) !important;
  background: url("../../image/custom/i_16_radio.png") no-repeat center center
      scroll,
    -o-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%) !important;
  background: url("../../image/custom/i_16_radio.png") no-repeat center center
      scroll,
    -ms-linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%) !important;
  background: url("../../image/custom/i_16_radio.png") no-repeat center center
      scroll,
    linear-gradient(top, #fcfcfc 0%, #f7f7f7 100%) !important;
  margin: -3px -3px -3px -3px !important;
  -webkit-box-shadow: 0 1px 0 #ffffff inset !important;
  box-shadow: 0 1px 0 #ffffff inset !important;
  outline: none !important;
}

.sliderVertical {
  float: left;
  height: 100px;
  margin-right: 40px;
  width: 5px;
}

.progress {
  border: 1px solid #c9c9c9;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  background: #fcfcfc; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fcfcfc),
    color-stop(100%, #f2f2f2)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #fcfcfc 0%,
    #f2f2f2 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #fcfcfc 0%,
    #f2f2f2 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%); /* W3C */
  position: relative;
}

.ui-progressbar-value {
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.progressBarValue span {
  font-size: 12px;
}

.progressBarValue span.progressCustomValueVal {
  font-size: 18px;
  font-weight: 700;
  padding: 0 5px;
  color: #fa5833;
}

.progressSlim {
  border: 1px solid #c9c9c9;
  height: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 #ffffff;
  -moz-box-shadow: 0 1px 0 #ffffff;
  box-shadow: 0 1px 0 #ffffff;
  position: relative;
  margin: 8px 0;
  background: #fcfcfc; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fcfcfc),
    color-stop(100%, #f2f2f2)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #fcfcfc 0%,
    #f2f2f2 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #fcfcfc 0%,
    #f2f2f2 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfcfc 0%, #f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcfcfc 0%, #f2f2f2 100%); /* W3C */
}

.progressSlim .ui-progressbar-value {
  height: 100%;
  top: 0px;
  position: absolute;
  left: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* ToDo List
=================================================================== */
.todo ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.todo ul li {
  margin-left: 0px !important;
  padding: 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f6f6f6;
  font-size: 12px;
}

.todo-actions {
  position: absolute;
  right: 20px;
}

.todo .label {
  position: absolute;
  right: 80px;
}

.todo-actions i {
  opacity: 0.3;
  margin: -2px 5px 0px 5px;
}

.todo-actions i:hover {
  opacity: 0.6;
}

.todo ul li:first-child {
  border-top: 0px;
}

.todo ul li:last-child {
  border-bottom: 0px;
}

/* Skill Bars
=================================================================== */
.skill-bar h5 {
  margin-bottom: 6px;
}

.skill-bar li {
  margin-bottom: 12px;
  list-style: none;
  margin-left: -26px;
  padding-left: 0px;
}

.meter {
  height: 23px;
  position: relative;
  background: #f6f6f6;
}

.meter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.meter > span:after,
.animate > span > spans li.current {
  background: #f16529;
}

/* Star Rating
=================================================================== */

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}
.rating span.star,
.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover,
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before,
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #999999;
}
.rating span.star:hover:before,
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}

/* Footer
=================================================================== */

footer {
  position: relative;
  min-height: 24px;
  background: url(../../image/custom/dbg.jpg);
  border-top: 1px solid #0a0c0e;
  border-bottom: 2px solid #0a0c0e;
  text-shadow: 1px 1px 1px #0a0c0e;
  color: #a7a7a7;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  *zoom: 1;
  -webkit-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1);
}

footer p {
  position: relative;
}

/* Sparkline stats
=================================================================== */

.sparkLineStats {
  position: relative;
  margin-bottom: -4px;
}

.sparkLineStats ul {
  margin: 0;
}

.sparkLineStats li {
  margin-bottom: 0;
  line-height: 32px;
  padding-top: 3px;
  font-size: 12px;
}

.sparkLineStats li .number {
  font-size: 17px;
  font-weight: 700;
  padding: 0px 0px 0px 2px;
  color: #fa5833;
}

.sparkLineStats li span:first-child {
  margin-right: 5px;
}

.sparkLineStats h4 {
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 0px;
  margin-bottom: 10px;
  line-height: 37px;
  -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
}

/* Circle stats
=================================================================== */

.circleStats {
  text-align: center;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  /*height: 200px;*/
  white-space: nowrap;
}
.circleStatsItemContainer {
  display: inline-block;
  width: 180px;
}
.circleStatsItem {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 0px 0 2px rgba(0, 0, 0, 0.2),
    0 0px 0 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0px 0 2px rgba(0, 0, 0, 0.2),
    0 0px 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0px 0 2px rgba(0, 0, 0, 0.2),
    0 0px 0 4px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  width: 120px;
  height: 120px;
  margin: 10px auto;
}

.circleStatsItem i {
  font-size: 45px;
  position: absolute;
  top: 40%;
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.circleStatsItem.red,
.circleStatsItem.red i {
  color: #ff0000;
}
.circleStatsItem.orange,
.circleStatsItem.orange i {
  color: #fa5833;
}
.circleStatsItem.lightorange,
.circleStatsItem.lightorange i {
  color: #f4a70c;
}
.circleStatsItem.blue,
.circleStatsItem.blue i {
  color: #2fabe9;
}
.circleStatsItem.green,
.circleStatsItem.green i {
  color: #b9e672;
}
.circleStatsItem.yellow,
.circleStatsItem.yellow i {
  color: #e7e572;
}
/*.circleStatsItem.yellow, .circleStatsItem.yellow i {color:#109648; }*/
.circleStatsItem.pink,
.circleStatsItem.pink i {
  color: #e42b75;
}

.circleStatsItem input {
  cursor: default;
  box-shadow: none;
  border: none;
  height: auto;
  position: absolute;
  top: 80px;
  left: 90px;
  border-color: rgba(0, 0, 0, 0.8);
}

.circleStatsItem .plus {
  font-size: 16px;
  position: absolute;
  top: 125px;
  margin-left: 30px;
}

.circleStatsItem .percent {
  font-size: 14px;
  position: absolute;
  top: 125px;
  margin-left: 78px;
}

.circleStatsItem input:focus {
  outline: 0;
  outline: thin dotted 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.circleStats .box-small-title {
  margin: 35px auto 0;
  text-align: center;
}

.carousel-container {
  position: relative;
  width: 90%;
  padding: 20px 5% 0;
  text-align: center;
}
.carousel-container > div {
  margin: 0 auto;
}
.carousel-container > a {
  color: #fff;
}

#stats-sort {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-align: center;
}
#stats-sort a {
  color: #2b91af;
}

/* Notifications Center
=================================================================== */
#notifications-center {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 8888;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 300px;
  height: 100%;
  -webkit-box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.45);
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.45);
}

#notifications-center .item {
  border-top: 1px solid #444;
  border-bottom: 1px solid #000;
  overflow: hidden;
  height: 50px;
  padding: 10px;
}

#notifications-center .item img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* Query Loader
=================================================================== */

.QOverlay {
  background-color: #000000;
  z-index: 9999;
}

.QLoader {
  background-color: #cccccc;
  height: 1px;
}

.QAmt {
  color: #333333;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  width: 100px;
  margin: -60px 0 0 -50px;
}

/* Glyphicons Red
=================================================================== */

.icon-red {
  background-image: url("../../image/custom/glyphicons-halflings-red.png");
}
